frontend/.expo
frontend/__generated__
frontend/web-build
frontend/bare-apps
frontend/.DS_Store
frontend/node_modules
frontend/npm-debug.log
frontend/yarn-error.log
frontend/.direnv
frontend/.envrc.local
frontend/*~
frontend/.*.swp
frontend/.*.swo
frontend/.*.swn
frontend/.*.swm
frontend/*.sublime-project
frontend/*.sublime-workspace
frontend/*.pbxuser
frontend/!default.pbxuser
frontend/*.xccheckout
frontend/*.xcscmblueprint
frontend/xcuserdata
frontend/*.iml
frontend/.gradle
frontend/.idea
frontend/.project
frontend/.settings
frontend/.history/
frontend/*.apk
frontend/*.hprof
frontend//android/**/build
frontend//android/**/.cxx
frontend//android/**/local.properties
frontend//android/captures
frontend//android/expoview/libs/ReactAndroid-temp
frontend//android/versioned-react-native/ReactAndroid
frontend//android/versioned-react-native/ReactCommon
frontend//android/versioned-react-native/codegen
frontend//android/versioned-react-native/sdks
frontend/ReactAndroid-temp.aar
frontend//android/prebuiltHermes
frontend//android/versioned-abis/**/*.aar
frontend/jarjar-rules.txt
frontend//ios/Exponent/Supporting/EXBuildConstants.plist.bak
frontend//ios/Exponent/Supporting/EXBuildConstants.plist.json
frontend//ios/Exponent/Supporting/EXBuildConstants.plist
frontend//ios/Exponent/Supporting/GoogleService-Info.plist
frontend//ios/Exponent/Supporting/Info.plist.bak
frontend//ios/Exponent/Supporting/Info.plist.json
frontend//android/expoview/src/main/java/host/exp/exponent/generated/ExponentBuildConstants.java
frontend//android/app/src/androidTest/java/host/exp/exponent/generated/TestBuildConstants.java
frontend/.kernel-ngrok-url
frontend//android/app/src/main/AndroidManifest.xml
frontend//android/app/google-services.json
frontend//apps/bare-expo/android/app/google-services.json
frontend//apps/bare-expo/ios/BareExpo/GoogleService-Info.plist
frontend//ios/Exponent/Generated/EXKeys.h
frontend//ios/ExponentIntegrationTests/EXTestEnvironment.plist
frontend//exponent-view-template/ios/Podfile
frontend/templates/**/android/**/generated/*
frontend/templates/**/android/app/build
frontend/templates/**/Pods/**
frontend/templates/**/Podfile.lock
frontend/templates/**/yarn.lock
frontend/templates/**/*.tgz
frontend//packages/expo-yarn-workspaces/workspace-template/yarn.lock
frontend/.codemod.bookmark
frontend//*.cer
frontend//fastlane/report.xml
frontend//fastlane/Preview.html
frontend//fastlane/Deployment
frontend//fastlane/test_output
frontend//Preview.html
frontend//gc_keys.json
frontend//fastlane/gc_keys.json
frontend//android/logcat.txt
frontend/android-shell-app
frontend/shellAppBase-*
frontend/shellAppIntermediates
frontend/shellAppWorkspaces
frontend//artifacts/*
frontend//client-builds
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/apps/bare-expo/deploy-url.txt
frontend/.metro-health-check*
frontend/docs/pages/versions/*/react-native/ADDED_*.md
frontend/docs/pages/versions/*/react-native/REMOVED_*.md
frontend/docs/pages/versions/*/react-native/*.diff
frontend//home/dist
frontend//packages/**/*.xcframework
frontend//packages/**/*.spec.json
frontend//packages/**/Info-generated.plist
frontend//ios/Pods
frontend//ios/build
frontend/**/ios/.xcode.env.local
frontend//ios/versioned-react-native/*/ReactNative/sdks/hermes-engine/destroot